.collapse-container {
  width: 100%;
  max-width: 85%;
  margin: 0 auto;
  padding: 10px;
}

.collapse-section {
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
}

.collapse-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  background-color: #FF6060;
  border-radius: 5px;
}

.collapse-header h3 {
  margin: 0;
  color: white;
}

.collapse-arrow {
  width: 30px;
  transition: transform 0.3s;
}

.collapse-arrow.open {
  transform: rotate(180deg);
}

.collapse-content {
  padding: 10px;
  background-color: #F6F6F673;
}
