footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  .footer_logo {
    height: 30px;
    margin-bottom: 10px;
  }

  p {
    color: white;
    margin: 0;
  }
}
