.housing {
  margin: 30px;
}

h1 {
  color: $primary-color;
  margin-bottom: 20px;
  font-weight: 500;
}

h2 {
  font-weight: bold;
  font-size: 1rem;
}

.housing-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.housing-info {
  flex: 1;
}

.host-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.host-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.host-details {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.host-name {
  margin-bottom: 5px;
  color: $primary-color;
  font-weight: 500;
  text-align: right;
}

.host-rating {
  display: flex;
  margin-left: auto;
}

.star {
  font-size: 35px;
  color: #e0e0e0;
}

.star.filled {
  color: $primary-color;
}

.host-picture {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.housing-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.housing-tag {
  background-color: $primary-color;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}

.housing_elements {
  display: flex;
  gap: 20px;
}

@media (max-width: 768px) {
  .housing-details {
    display: block;
    margin: 0 ;
  }

  .housing-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .host-section {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .host-info {
    margin: 0;
  }

  .housing_elements {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  .host-rating {
    order: -1;
    margin: 0;
  }

  .housing-tags {
    margin: 0;
  }

  .housing-tag {
    width: auto;
    border-radius: 10px;
  }
}
