.slideshow {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.slideshow-image-container {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.slideshow-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 15px;
}

.slideshow-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1;
  width: 50px;
  height: 50px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.arrow-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.prev .arrow-img {
  transform: rotate(-90deg);
}

.next .arrow-img {
  transform: rotate(90deg);
}

.slideshow-counter {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .slideshow-image-container {
    height: 255px;
  }

  .slideshow-counter {
    display: none;
  }

  .arrow-img {
    width: 60%;
    height: 60%;
    object-fit: contain;
  }

  .prev {
    left: 0;
  }

  .next {
    right: 0;
  }
}
